h1{
	text-align: center;
	color: #016445;
	padding-bottom: 15px;
	border-bottom: thick solid #FFCE34;
}

pre {
	text-align: center;
}

h2 {
	border-bottom: 1px solid #FFCE34;
	padding-bottom: 5px;
	text-align: center;
	color: #016445;
}

body {
	background: white; 
	
}

#sienaseal{
	width:30%;
	height:30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

strong {
	color:#FFCE34;
}

div {
	margin: auto;
	display: block;
	width: 65%;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-radius: 15px;
	color: #016445;
	font-size: 18px;
	font-weight:bold;
}

#sienaseal{
	width:30%;
	height:30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div {
	margin: auto;
	display: block;
	width: 75%;
	padding: 1em;
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
	color: #016445;
	font-size: 18px;
	font-weight:bold;
}

div.gallery img {
	width: 300px;
	border-radius: 15px;
	padding: 10px;
}

table {
	text-align: center;
}

#contestants {
	width: 40%;
	height: 40%;
	border-radius: 15px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}

#registernow {
	display: inline-block;
	width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #FFCE34;
	color: #016445;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	box-shadow: 8px 8px 8px #333333;
}


nav ol, nav li {
  padding: 0px;
  margin: 0px;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	width: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #016445;
	color: #FFCE34;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
  color: #016445;
  background-color: #FFCE34;
}

.year {
	float: left;
	margin: .5em;
	width: 7.5em;
	height: 4.5em;
	border: thin solid #FFCE34;
	border-radius: 15px;
	padding: .5em;
}

ul {
	list-style-type: none;
}

.majorEx {
	font-size: 75%;
	color: grey;
}


h3 {
	text-align: center;
	color:#016445;
	border-bottom: thin solid #FFCE34;
	padding-bottom: 15px;
}

ol {
	text-align:center;
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	color: #016445;
}

li {
	list-style:none;
}

p {
	text-align:center;
	margin: .25em;
}

label {
	font-weight: bold;
}

.surveyForm {
	text-align: center;
	padding: 1em 3em;
}
